# Whether or not requests should need to supply HMAC headers in order
# to be processed. If this is set to false, any schmuck can access
# this server.
require_hmac_signatures: false

# The secret to use when generating/validating HMAC signatures.
hmac_secret: cakeisdelicious

# Lights are assumed to be RGB and support on/off, level, and RGB color.
lights:
  leds:
    driver: ledenet
    params:
      hw_addr: 00:00:00:00:00:00
  living_room:
    driver: milight
    params:
      host: milight1
      group: 1

      # I had intermittent issues where some proper subset of the bulbs in a
      # group respond to commands. This setting repeats each command sent to
      # the bridge (and therefore bulbs) the provided number of times.
      repeat_packets: 10

# Switches support on/off
switches:
  downstairs_tv:
    driver: bravtroller_switch
    params:
      host: bravia
  upstairs_tv:
    driver: upnp_switch
    params:
      uuid: uuid:<uuid>
      service: urn:schemas-upnp-org:service:AVTransport:1
      actions:
        "on":
          method: Play
          args:
            InstanceID: 0
            Speed: 1
        "off":
          method: Stop
          args:
            InstanceID: 0

# Foscam Cameras when using the /camera endpoint.
cameras:
  # This will, for example, make the snapshot URL for this camera
  # /camera/mycamera1/snapshot.jpg
  mycamera1:
    host: camera1.mynetwork.net
    username: myusername
    password: mypassword

  mycamera2:
    host: camera2.mynetwork.net
    username: myusername
    password: mypassword
